<%= simple_form_for coupons_import, html: { class: "" } do |f| %>
<%#= f.input :categories, as: :radio_buttons, collection: Category.all %>


<div class="isotope-categories" >
 <select class="custom-select mr-sm-2 isotope-filter" id="inlineFormCustomSelect" placeholder="Category">
  <label> <option name="category" value="*">All</option></label>
  <% Category.all.each_with_index do |category, index| %>
    <label data-filter="category-<%= category.slug %>" > <option value=".category-<%= category.slug %>" name="category"> <%= category.name %> </option></label>
  <% end %>
</select>
</div>

<%= f.input :companies, as: :check_boxes, collection: Company.all, include_hidden: false, :item_wrapper_class => 'transparent', :label => false, :legend => false %>
<div class="isotope-grid">
  <% Company.all.each do |company| %>
    <div class="isotope-item clickable-icon category-<%= company.category.slug %>" id="<%= company.slug %>">
      <div class="company-tile">
        <%= image_tag "#{company.slug}_logo.jpg", class: "company-logo" %>
      </div>
    </div>
  <% end %>
</div>
<div class="form-check">
  <input type="checkbox" class="form-check-input" id="materialUnchecked">
  <label class="consent-checkbox" for="materialUnchecked">Your consent that we are looking for coupons from the web</label>
</div>
<%= f.submit "Import", class: "btn btn-primary", id: "submit-icon"  %>
<% end %>


<div class="loader text-center" style="background: #a00">
  <%= render 'shared/loader' %>

</div>
