<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-4 card-import">
        <!-- Bootstrap grid -->
        <a href="javascript:history.back()"><i class="fas fa-arrow-circle-left arrow-back"></i></a>
        <div class="gift-me-form">

         <h1>New Coupon</h1>

         <%= simple_form_for [@coupon] do |f| %>

         <%= f.input :description, label: 'Description of your code:' %>

         <%= f.association :company %>


         <%= f.input :code, label: 'Write here your code:' %>
         <%= f.input :expiration_date, label: 'When does your code expire?', html5: true, as: :date%>

         <%= f.submit "Create a new coupon", class: "btn btn-primary" %>
         <% end %>

       </div>

       <!-- End of bootstrap grid -->
   </div>
 </div>
</div>


