<div class="container">
  <div class="text-center">

  <%= link_to 'Import a coupon', new_coupons_import_path, class: "btn btn-primary" %>


  <%= link_to 'Add a coupon', new_coupon_path, class: "btn btn-primary my-3" %>
</div>
  <!-- Modal -->

  <div class="search-form">
      <%= form_tag dashboard_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
        placeholder: "Find a coupon"
        %>
        <% end %>
    </div>


    <!-- Coupons display -->
      <% if @coupons.empty? %>

        <p></p>

        <h3>You don't have any coupons</h3>

          <%= image_tag "import_coupons.jpg", :class => 'import_coupons'%>

      <% else %>

        <% @coupons.each do |coupon| %>

          <div class="coupon coupon-grid">

            <div class="coupon-left-wrapper">
              <%= link_to '', coupon.url, class: 'coupon-left-action', style: "background-image: url(#{image_path("#{coupon.company.slug}_fullscreen.jpg")})" %>
            </div>

            <div class="coupon-content">
              <%= link_to coupon_path(coupon),method: :delete, data: { confirm: "Are you sure?" }, class: "top-right-action" do  %>
                Remove coupon
              <% end %>

              <h3><%= coupon.description %></h3>
              <p> expires in <%= time_ago_in_words(coupon.expiration_date) %></p>
              <div class="input-group">
                <input type="text" class="form-control clipboard-box" aria-describedby="basic-addon1" value='<%= coupon.code %>' readonly>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" id="copy-button" type="button">Copy code!</button>
                </div>
              </div>
            </div>

          </div>

        <% end %>

      <% end %>

  </div>
</div>

