
<div class="container">
  <div class="text-center">

    <h2>DASHBOARD</h2>

    <!-- Coupons display -->
      <% if @user.coupons.empty? %>

        <p>You don't have any coupons</p>

          <%= image_tag "import_coupons.jpg", :class => 'import_coupons'%>

      <% else %>

        <% @user.coupons.each do |coupon| %>

          <div class="gift-me-card">
            <div class="text-center img-float">
              <%= image_tag "#{coupon.company.slug}_logo.jpg", :class => 'company-logo'%>
            </div>

            <div>
              <%= link_to coupon_path(coupon),method: :delete, data: { confirm: "Are you sure?" } do  %>
              <%= image_tag "https://image.flaticon.com/icons/svg/63/63260.svg", class: 'trash-icon-logo' %>
              <% end %>

              <h3><%= coupon.description %></h3>
                <p>Expiration date: <%= coupon.expiration_date %></p>
                <p>Code: <%= coupon.code %></p>
                <%= link_to 'Use this Coupon', coupon.url, class: "btn btn-primary cursor" %>
            </div>

          </div>

        <% end %>

      <% end %>

  </div>
</div>




