
<div class="container">
  <div class="text-center">

  <h2>MY COUPONS</h2>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Import coupons
  </button>

  <%= link_to 'Add a coupon', new_coupon_path, class: "btn btn-primary" %>
</div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <%= render 'coupons_imports/form', coupons_import: @coupons_import %>
      </div>
    </div>
  </div>

    <!-- Coupons display -->

          <% @user.coupons.each do |coupon| %>

            <div class="gift-me-card">
              <div class="text-center img-float">
                <%= image_tag "#{coupon.company.slug}_logo.jpg", :class => 'company-logo'%>


              </div>
              <div>

                <%= link_to coupon_path(coupon),method: :delete, data: { confirm: "Are you sure?" } do  %>
                  <%= image_tag "https://image.flaticon.com/icons/svg/63/63260.svg", class: 'trash-icon-logo' %>
                <% end %>

                <h3><%= coupon.description %></h3>
                <p>Expiration date: <%= coupon.expiration_date %></p>
                <p>Code: <%= coupon.code %></p>
                <%= link_to 'Use this Coupon', coupon.url, class: "btn btn-primary cursor" %>
              </div>

            </div>

          <% end %>
</div>




