    <h2>MY COUPONS</h2>
        <%= link_to 'Import coupons', new_import_path, class: "btn btn-primary" %>
        <%= link_to 'Add a coupon', new_coupon_path, class: "btn btn-primary" %>
      <ul>
        <% @user.coupons.each do |coupon| %>
          <li>Coupon: <%= coupon.description %></li>
          <li>Expiration date: <%= coupon.expiration_date %></li>
          <li>Code: <%= coupon.code %></li>

            <p><%= link_to "Delete", coupon_path(coupon),
              method: :delete,
              data: { confirm: "Are you sure?" } %></p>
        <% end %>
      </ul>




