<div class="container">
  <div class="text-center">


  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary my-3" data-toggle="modal" data-target="#exampleModal">
    Import coupons
  </button>

  <%= link_to 'Add a coupon', new_coupon_path, class: "btn btn-primary my-3" %>
</div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title">Select the companies for their coupons</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        <%= render 'coupons_imports/form', coupons_import: @coupons_import %>
        </div>
      </div>
    </div>
  </div>


    <!-- Coupons display -->
      <% if @user.coupons.empty? %>

        <p>You don't have any coupons</p>

          <%= image_tag "import_coupons.jpg", :class => 'import_coupons'%>

      <% else %>

        <% @user.coupons.each do |coupon| %>

          <div class="coupon coupon-grid">

            <div class="coupon-left-wrapper">
              <%= link_to '', coupon.url, class: 'coupon-left-action', style: "background-image: url(#{image_path("#{coupon.company.slug}_fullscreen.jpg")})" %>
            </div>

            <div class="coupon-content">
              <%= link_to coupon_path(coupon),method: :delete, data: { confirm: "Are you sure?" }, class: "top-right-action" do  %>
                Remove coupon
              <% end %>

              <h3><%= coupon.description %></h3>
              <p> expires in <%= time_ago_in_words(coupon.expiration_date) %></p>
              <div class="input-group">
                <input type="text" class="form-control clipboard-box" aria-describedby="basic-addon1" value='<%= coupon.code %>' readonly>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" id="copy-button" type="button">Copy code!</button>
                </div>
              </div>
            </div>

          </div>

        <% end %>

      <% end %>

  </div>
</div>




