<h1>DASHBOARD</h1>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="row">
           <div class="col-sm-4 clickable-icon" id="uber-eats"><%= image_tag "uber-eats_logo.jpg", width: 50, height: 50%></div>
          <div class="col-sm-4 clickable-icon" id="ifood"><%= image_tag "ifood_logo.jpg", width: 50, height: 50%></div>
           <div class="col-sm-4 clickable-icon" id="kinoplex"><%= image_tag "kinoplex_logo.jpg", width: 50, height: 50%></div>
        </div>
        <%= render 'coupons_imports/form', coupons_import: @coupons_import %>
      </div>
    </div>
  </div>

  <div class="card p-3 m-3">
    <h2>My coupons</h2>
      <ul>
        <% @user.coupons.each do |coupon| %>
          <li><%= image_tag "#{coupon.company.slug}_logo.jpg" %></li>
          <li>Coupon: <%= coupon.description %></li>
          <li>Expiration date: <%= coupon.expiration_date %></li>
          <li>Code: <%= coupon.code %></li>

            <p><%= link_to "Delete", coupon_path(coupon),
              method: :delete,
              data: { confirm: "Are you sure?" } %></p>
        <% end %>
      </ul>

      <p>
        <%= link_to 'Import coupons', new_coupons_import_path, class: "btn-primary" %>
      </p>
      <p>
        <%= link_to 'Add a coupon', new_coupon_path, class: "btn-primary" %>
      </p>
  </div>



